[submodule "vendor/api/graphql-java"]
	path = vendor/api/graphql-java
	url = https://github.com/andimarek/graphql-java.git
[submodule "vendor/api/keyczar"]
	path = vendor/api/keyczar
	url = https://github.com/google/keyczar.git
